/*#background-image src="http://orig10.deviantart.net/badd/f/2015/173/f/a/fa540d62c0f642acebd9f8dadcc2ac47-d8yblwa.png" alt="Image result for the hanged man" onload="google.aft&amp;&amp;google.aft(this)" width="655" height="393" style="margin-top: 0px;">*/

.container {
	height: auto;
	position: relative;
}

#image {
	position: absolute;
	left: 0;
	top: 0;
}
.text {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin: 100px 150px 0px 0px;
	padding: 0px 0px 0px 300px;

}

#header{
	z-index: 100;
	position: relative;
	color: white;
	font-size: 60px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 75px 0px 0px 0px;
	text-align: center;
}

#wrong-guesses{
	text-transform: uppercase;
}